<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/socket.io/socket.io.js"></script>
    {{!--
    <script src="/static/index.js"></script> --}}
    <title>{{title}}</title>
</head>

<body>
    <h2>Login</h2>
    <a href="/">[Login]</a>
    <a href="/products">[Products]</a>
    <a href="/register">[Register]</a>
    <a href="/api/session/login-github">[Login Github]</a>
    <a href="/auth/google">[Login Google]</a>
    <a href="/api/session/profile">[Profile]</a>
    <form action="/api/session/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    <hr>
    {{{ body }}}
</body>

</html>